<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a *ngIf="user_level==4" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=4">Super Administration</a>
                    <a *ngIf="user_level>=3" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=3">Group Administration</a>
                    <a *ngIf="user_level>=2"class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=2">Group Administration2</a>
                    <a *ngIf="user_level>=1" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=1">Chat</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle" (click)="chan(4)">4 Menu</button>
                        <button class="btn btn-primary" id="sidebarToggle" (click)="chan(3)">3 Menu</button>
                        <button class="btn btn-primary" id="sidebarToggle" (click)="chan(2)">2 Menu</button>
                        <button class="btn btn-primary" id="sidebarToggle" (click)="chan(1)">1 Menu</button>
                        <button class="btn btn-primary" id="sidebarToggle" (click)="inn()">0 Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" >Home</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" [ngSwitch]="state">
                    <div *ngSwitchCase = "4">
                        <h2>Super Admin Page</h2><br>
                        <label for="A_gr">User</label> : 
                        <select name="A_gr" >
                            <option value="none">=Choose User=</option>
                            <option *ngFor="let user of user_list" value=user>{{user}}</option>
                          </select><br><br>
                          <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-primary">Assign to Super Admin</button>
                          <button type="button" class="btn btn-success">Assign to Group Admin</button>
                          <button type="button" class="btn btn-danger">Remove User</button>
                        </div></div>
                    <div  *ngSwitchCase = "3">
                        <h2>Group Admin Page</h2><br><br>
                        <label for="C_g">Create Group</label> : 
                        <input type="text" name="C_g" placeholder="Group name">&nbsp;
                        <button type="button" class="btn btn-primary">Create</button>
                        <br><br>
                        <label for="C_c">Create Channel</label> : 
                        <input type="text" name="C_c" placeholder="Channel name">&nbsp; in &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select>&nbsp;
                        <button type="button" class="btn btn-primary">Create</button>
            
                        <!-- <button type="button" class="btn btn-primary">Create</button><br>
                        <label for="C_u">Create User</label> : 
                        <input type="text" name="C_u" placeholder="User name">&nbsp;
                        <button type="button" class="btn btn-primary">Create</button>
                        <br><br> -->
                        <br><br>

                        <label for="I_u">User Invitation</label> : 
                        <input type="text" name="C_u" placeholder="User name">&nbsp;
                        <select>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" value="user">{{user}}</option>
                        </select>&nbsp; to &nbsp;
                        <select>
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of channel_list" value="ch">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary">Invite or Create</button>
                        <br><br>

                        <label for="Control_u">User Remove from Channel</label> : 
                        <select>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" value="user">{{user}}</option>
                        </select>&nbsp; from &nbsp;
                        <select>
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of channel_list" value="ch">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-danger">Remove from Channel</button>
                        <br><br>

                        <label for="Control_g">Group&Channel Remove</label> : 
                        <select>
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of channel_list" value="ch">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <div class="btn-group" role="group" aria-label="Basic">
                        <button type="button" class="btn btn-danger">Remove Channel</button>
                        <button type="button" class="btn btn-primary">Remove Group</button>
                        </div><br><br>

                        <label for="A_assis">Group Assis Control</label> : 
                        <select>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" value="user">{{user}}</option>
                        </select>&nbsp; in &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary">Assign to Group Assis</button>

                       
                    </div>
                    <div  *ngSwitchCase = "2">
                        <label for="Assis-1">User Add to Channel</label> : 
                        <select>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" value="user">{{user}}</option>
                        </select>&nbsp; to &nbsp;
                        <select>
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of channel_list" value="ch">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary">Add</button>
                        <br><br>

                        <label for="Assis-2">User Remove from Channel</label> : 
                        <select>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" value="user">{{user}}</option>
                        </select>&nbsp; to &nbsp;
                        <select>
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of channel_list" value="ch">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary">Remove</button>
                        <br><br>

                        <label for="Assis-3">Create Channel</label> : 
                        <input type="text" name="C_c" placeholder="Channel name">&nbsp; in &nbsp;
                        <select>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of group_list" value="group">{{group}}</option>
                        </select>&nbsp;
                        <button type="button" class="btn btn-primary">Create</button>
                    </div>
                </div>

                
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="scripts.js"></script>
    </body>
</html>
