<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">{{username}}</div>
                <div class="list-group list-group-flush">
                    <a *ngIf="user_level==4" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=4">Super Admin</a>
                    <a *ngIf="user_level>=3" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=3">Group Admin</a>
                    <a *ngIf="user_level>=2"class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=2">Group Assistant</a>
                    <a *ngIf="user_level>=1" class="list-group-item list-group-item-action list-group-item-light p-3" (click)="state=1">Chat</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <h3>{{level}}</h3><br>&nbsp;
                        <ul><li *ngFor="let g of user_groupshow">{{g}}</li></ul>
                        <button (click)="logout()" routerLink="/" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span>Log out</span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" (click)="logout()" routerLink="/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" [ngSwitch]="state">
                    <div *ngSwitchCase = "4">
                        <h2>Super Admin Page</h2><br>
                        <label for="A_gr">User</label> : 
                        <select [(ngModel)]="inp.super" name="A_gr" >
                            <option value="none">=Choose User=</option>
                            <option *ngFor="let u of db.user" >{{u[0]}}</option>
                          </select><br><br>
                          <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-primary" (click)="Assign_bysuper(4)">Assign to Super Admin</button>
                          <button type="button" class="btn btn-success" (click)="Assign_bysuper(3)">Assign to Group Admin</button>
                          <button type="button" class="btn btn-danger" (click)="Assign_bysuper(5)">Remove User</button>
                        </div></div>


                    <div  *ngSwitchCase = "3">
                        <h2>Group Admin Page</h2><br><br>
                        <label for="C_g">Create Group</label> : 
                        <input type="text" name="C_g" [(ngModel)]="inp.createGroup" placeholder="Group name">&nbsp;
                        <button type="button" class="btn btn-primary" (click)="createGroup()">Create</button>
                        <br><br>


                        <label for="C_c">Create Channel</label> : 
                        <input #cn type="text" [(ngModel)]="inp.createChannel.c" name="C_c" placeholder="Channel name">&nbsp; in &nbsp;
                        <select #cgr [(ngModel)]="inp.createChannel.g" >
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of db.grouplist">{{group}}</option>
                        </select>&nbsp;
                        <button type="button" class="btn btn-primary" (click)="createCh(cgr.value,cn.value)">Create</button>
            
                        <!-- <button type="button" class="btn btn-primary">Create</button><br>
                        <label for="C_u">Create User</label> : 
                        <input type="text" name="C_u" placeholder="User name">&nbsp;
                        <button type="button" class="btn btn-primary">Create</button>
                        <br><br> -->
                        <br><br>

                        <label for="I_u">User Invitation</label> : 
                        <input type="text" [(ngModel)]="inp.user_inv.new" name="C_u" placeholder="Username/Email/ID">&nbsp;
                        <select [(ngModel)]="inp.user_inv.u">
                            <option value="none">=User=</option>
                            <option>=Create=</option>
                            <option  *ngFor="let u of user_list" >{{u}}</option>
                            
                        </select>&nbsp; to &nbsp;
                        <select #c1 [(ngModel)]="inp.user_inv.c" (change)="user_init(g1.value,c1.value,1)">
                            <option value="none" >=Channel=</option>
                            <option *ngFor="let ch of ch_list[0]" >{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select #g1 [(ngModel)]="inp.user_inv.g" (change)="ch_list[0]=db.groups[g1.value];user_init(g1.value,c1.value,1)">
                            <option value="none">=Group=</option>
                            <option   *ngFor="let group of db.grouplist" >{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary" (click)="user_invitation()">Invite or Create</button>
                        <br><br>

                        <label for="Control_u">User Remove from Channel or Group</label> : 
                        <select [(ngModel)]="inp.user_rmv.u" >
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list2" >{{user}}</option>
                        </select>&nbsp; from &nbsp;
                        <select #c2 [(ngModel)]="inp.user_rmv.c" (change)="user_init(g2.value,c2.value,2)">
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of ch_list[1]">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select #g2 [(ngModel)]="inp.user_rmv.g" (change)="ch_list[1]=db.groups[g2.value];user_init(g2.value,c2.value,2)">
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of db.grouplist" >{{group}}</option>
                        </select> &nbsp;
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" (click)="user_removefrom(1)">Remove from Channel</button>
                        <button type="button" class="btn btn-success" (click)="user_removefrom(2)">Remove from Group</button>
                        </div>
                        
                        <br><br>

                        <label for="Control_g">Group&Channel Remove</label> : 
                        <select #c3 [(ngModel)]="inp.GC_rmv.c" >
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of ch_list[2]">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select #g3 [(ngModel)]="inp.GC_rmv.g" (change)="ch_list[2]=db.groups[g3.value]">
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of db.grouplist" >{{group}}</option>
                        </select> &nbsp;
                        <div class="btn-group" role="group" aria-label="Basic">
                        <button type="button" class="btn btn-danger" (click)="groupchannel_remove(1)">Remove Channel</button>
                        <button type="button" class="btn btn-primary" (click)="groupchannel_remove(2)">Remove Group</button>
                        </div><br><br>

                        <label for="A_assis">Group Assis Control</label> : 
                        <select #c4 [(ngModel)]="inp.groupA.u">
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list_ga" >{{user}}</option>
                        </select>&nbsp; in &nbsp;
                        <select #g4 [(ngModel)]="inp.groupA.g" (change)="user_init2(g4.value)">
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of db.grouplist" >{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary" (click)="groupAssis_control(g4.value,c4.value)">Assign to Group Assis</button>

                       
                    </div>

                    <div  *ngSwitchCase = "2">
                        <label for="Assis-1">User Add to Channel</label> : 
                        <select #au1>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list" >{{user}}</option>
                        </select>&nbsp; to &nbsp;
                        <select #ac1 [(ngModel)]="inp.assis_a.c" (change)="user_init(ag1.value,ac1.value,3)">
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of ch_list[3]">{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select #ag1 [(ngModel)]="inp.assis_a.g" (change)="ch_list[3]=db.groups[ag1.value]">
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of assis_group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary" (click)="Assis_Add_Remove(ag1.value,ac1.value,au1.value,1)">Add</button>
                        <br><br>


                        <label for="Assis-2">User Remove from Channel</label> : 
                        <select #au2>
                            <option value="none">=User=</option>
                            <option *ngFor="let user of user_list2" >{{user}}</option>
                        </select >&nbsp; to &nbsp;
                        <select #ac2 [(ngModel)]="inp.assis_r.c" (change)="user_init(ag2.value,ac2.value,4)">
                            <option value="none">=Channel=</option>
                            <option *ngFor="let ch of ch_list[4]" >{{ch}}</option>
                        </select>&nbsp; of &nbsp;
                        <select #ag2 [(ngModel)]="inp.assis_r.g" (change)="ch_list[4]=db.groups[ag2.value]">
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of assis_group">{{group}}</option>
                        </select> &nbsp;
                        <button type="button" class="btn btn-primary" (click)="Assis_Add_Remove(ag2.value,ac2.value,au2.value,2)">Remove</button>
                        <br><br>

                        <label for="Assis-3">Create Channel</label> : 
                        <input #acc type="text" [(ngModel)]="inp.assis_ch" name="C_c" placeholder="Channel name">&nbsp; in &nbsp;
                        <select #acg>
                            <option value="none">=Group=</option>
                            <option *ngFor="let group of assis_group">{{group}}</option>
                        </select>&nbsp;
                        <button type="button" class="btn btn-primary" (click)="createCh(acg.value,acc.value)">Create</button>
                    
                </div>
                <div  *ngSwitchCase = "1">
                    <h1>Welcome to {{chat_title}}</h1><br>
                    <select [(ngModel)]="inp.join_channel">
                        <option value="">=Channel=</option>
                        <option *ngFor="let i of chat_channel">{{i}}</option>
                    </select>&nbsp;of &nbsp;
                    <select [(ngModel)]="inp.join_group" #chatbox (change)="inp.join_channel='';channel_show(chatbox.value)">
                        <option value="">=Group</option><br>
                        <option *ngFor="let i of chat_grouplist">{{i}}</option>
                    </select>&nbsp;
                    <button  type="button" class="btn btn-success" (click)="joinChat()">Join room</button><br>

                    <input type="text" #chatmsg style="width:40%" placeholder="M">
                    <button type="button" class="btn btn-primary" (click)="sendMsg(chatmsg.value);chatmsg.value=''">Send</button>
                    <ul><p *ngFor="let i of chat_msg">{{i}}</p></ul>
                    
                    <button type="button" class="btn btn-primary" (click)="onUpload()">sbui</button>
                    <div class="form-group"><input type="file" (change)="imgSelect($event)"></div>
                    <img src="images/{{imgpath}}">
                </div>
                </div>

                
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="scripts.js"></script>
    </body>
</html>
