<nav class="navbar navbar-default">

<form style="padding:10%;">
    <!-- Email input -->
    <h1>login</h1>
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" [(ngModel)]="user.id" name="s" />
      <label class="form-label" for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="text" id="form2Example2" class="form-control" [(ngModel)]="user.pw" name="ss" />
      <label class="form-label" for="form2Example2">Email</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>
  
    
  </form></nav>